<div class="row">
    <h3><span class="slash"></span><%= translate("quickLinks") %></h3>

    <ol class="breadcrumb">
        <li>
            <a class="btn-header" href="#home">
                <span class="glyphicon glyphicon-home">
                    <%= translate("Home") %>
                </span>
            </a>
        </li>
        <li>
            <a class="btn-header" href="#reports">
                <span class="glyphicon glyphicon-stats">
                    <%= translate("Reports") %>
                </span>
            </a>
        </li>
        <li>

            <a class="btn-header" href="#settings">
                
                <span class="glyphicon glyphicon-wrench">
                    <%= translate("Settings") %>

                </span>
            </a>
        </li>
        <li>
            <a class="btn-header" href="#logout">
                <span class="glyphicon glyphicon-cloud-download">
                    <%= translate("Logout") %>
                </span>
            </a>
        </li> 
    </ol>
    
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="W4WXRE3GDSVQA">
<table>
<tr><td><input type="hidden" name="on0" value="Amounts">Amounts</td></tr><tr><td><select name="os0">
    <option value="Option 1">Option 1 $500.00 USD</option>
    <option value="Option 2">Option 2 $1,000.00 USD</option>
    <option value="Option 3">Option 3 $2,000.00 USD</option>
    <option value="Option 4">Option 4 $3,000.00 USD</option>
    <option value="Option 5">Option 5 $4,000.00 USD</option>
    <option value="Option 6">Option 6 $5,000.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


</div>
