<!-- <div id="footer">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline pull-right">
                        <li><a href="#help"><%= translate("help") %></a></li>
                    </ul>
                    <ul class="list-inline">
                        <li id="wtfMae">&copy; 2016 <span><%= translate("ioFun") %></span>, Inc.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="footer-container">
    <footer class="bg-primary short-2">
        <div class="row">
            <div class="col-sm-9 negative-margin-left">
                <span class="text-white font-18"><a href="#terms">Terms of Agreement</a></span>
                <span class="text-white font-18"><a href="#contactus">info@techsupport24-7.com</a></span>
                <span class="text-white font-18">1-888-384-7935 </span>
                <span class="text-white font-18"><a href="#privacy">Privacy Police</a></span>
                <span class="text-white m-t-10"><strong>Tech Support 24-7</strong> by <strong>Code Machine</strong>, 2016</span>
            </div>
        </div>
        <div class="contact-action">
            <div class="">
                <i class="icon text-white icon_mail"></i>
                <a href="#contactus" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
            </div>
        </div>
    </footer>
</div>