<ul class="nav nav-pills pull-right">

    <li id="head-nav-accounts">
        <a href="#accounts"><%= translate("accounts") %></a>
    </li>

    <li id="head-nav-trades">
        <a href="#trades"><%= translate("trades") %></a>
    </li>
    <li id="head-nav-contacts">
        <a href="#contacts"><%= translate("contacts") %></a>
    </li>

    <li id="head-nav-resources">
        <a href="#resources"><%= translate("resources") %></a>
    </li>
    <li id="head-nav-tasks">
        <a href="#tasks"><%= translate("tasks") %></a>
    </li>
    <li id="head-nav-members" class="hide">
        <a href="#members"><%= translate("members") %></a>
    </li>

    <li id="head-nav-teams" class="hide">
        <a href="#teams"><%= translate("teams") %></a>
    </li>

</ul>