<ul class="nav navbar-nav navbar-right">
    <!-- <li>
        <input type="text" id="searchInput" class="form-control" type="search" placeholder=" " onblur="this.value=''">
    </li> -->
    <li class="dropdown">
        <a id="current-budget" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            250 XP
        </a>

        <a id="current-150" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            150 XP
        </a>

        <a id="current-475" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            475 XP
        </a>

        <a id="current-825" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            825 XP
        </a>

        <a id="current-500" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            500 XP
        </a>

        <a id="current-652" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            652 XP
        </a>

        <a id="current-428" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            428.50 XP
        </a>

        <a id="current-645" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            645.25 XP
        </a>

        <a id="current-625" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            625.50 XP
        </a>

        <a id="current-850" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            850 XP
        </a>


        <a id="current-384" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            384.75 XP
        </a>

        <a id="current-380" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            380 XP
        </a>

        <a id="current-344" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            344.25 XP
        </a>

        <a id="current-471" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            471.25 XP
        </a>

        <a id="current-367" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            367.5 XP
        </a>

        <a id="current-111" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            111 XP
        </a>


        <a id="current-879" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            879 XP
        </a>

        <a id="current-7539" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            7539.07 XP
        </a>

        <a id="current-2599" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            2599 XP
        </a>

         <a id="current-8191" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            8191 XP
        </a>

        <a id="current-9249" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            9249.05 XP
        </a>

        <a id="current-10118" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            10.118.05 XP
        </a>

        <a id="current-11163" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            11.163 XP
        </a>

        <a id="current-10879" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            10.879 XP
        </a>

        <a id="current-2772" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            2772.05 XP
        </a>

        <a id="current-1126" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            1.126.745 XP
        </a>

        <a id="current-8293" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            8293 XP
        </a>

        <a id="current-3164" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            3164.05 XP
        </a>

        <a id="current-750" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            750 XP
        </a>


        <a id="current-342" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            342.75 XP
        </a>


        <a id="current-1418" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            1418 XP
        </a>

        <a id="current-3079" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            3079 XP
        </a>

        <a id="current-1878" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            1878,25 XP
        </a>

         <a id="current-2250" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            2250 XP
        </a>

        <a id="current-1284" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            1284.5 XP
        </a>


        <a id="current-602" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            602.25 XP
        </a>

        <a id="current-674" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            674.5 XP
        </a>

        <a id="current-945" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            945.75 XP
        </a>

        <a id="current-250" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            250 XP
        </a>

        <a id="current-6402" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            6402 XP
        </a>

        <a id="current-6752" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            6752 XP
        </a>

         <a id="current-2534" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            2534 XP
        </a>

        <a id="current-6025" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            6025 XP
        </a>


        <a id="current-2718" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            2718 XP
        </a>

        <a id="current-666" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            666 XP
        </a>

        <a id="current-5130" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            5130 XP
        </a>      


        <a id="current-1718" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            1718 XP
        </a>


        <a id="current-5502" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            2603.50 XP
        </a>       

        <a id="current-6986" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            6986 XP
        </a>

        <a id="current-7704" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            7704.57 XP
        </a>

        <a id="current-10435" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            10,435.55 XP
        </a>

        <a id="current-567" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            567.50 XP
        </a>


        <a id="current-384b" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            384.5 XP
        </a>

        <a id="current-275" href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            275 XP
        </a>

        <a id="current-4257" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            4257 XP
        </a>


        <a id="current-319" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            319.25 XP
        </a>

        <a id="current-2233" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            2233 XP
        </a>

        <a id="current-4670" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            4.670 XP
        </a>

        <a id="current-3918" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            3.918 XP
        </a>

        <a id="current-10770" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            10.770.55 XP
        </a>

        <a id="current-3923" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            3.923.75 XP
        </a>

        <a id="current-421" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            421 XP
        </a>

        <a id="current-10819" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            10.819 XP
        </a>

        <a id="current-338" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            338.75 XP
        </a>

        <a id="current-384c" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            384.5 XP
        </a>

        <a id="current-428b" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money fa-fw"></i>
            428.25 XP
        </a>

        

        


       

       

        <ul class="dropdown-menu">
            <li><a href="#deposit">Deposit</a></li>
            <li><a href="#withdraw">Withdraw</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-plus fa-fw"></i>
            <%= translate("Create") %>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li id="nav-new-account" class="hide"><a href="#accounts"><i class="fa fa-user-plus fa-fw"></i> <%= translate("newAccount") %></a></li>
            <li id="nav-new-trade"><a href="#trades"><i class="fa fa-dot-circle-o fa-fw"></i> <%= translate("newTrade") %></a></li>
            <li id="nav-new-contact"><a href="#contacts"><i class="fa fa-book fa-fw"></i> <%= translate("newContact") %></a></li> 
            <li id="nav-new-resource" class="hide"><a href="#resources"><i class="fa fa-diamond fa-flip-vertical fa-fw"></i> <%= translate("newResource") %></a></li>
            <li id="nav-new-task"><a href="#tasks"><i class="fa fa-plug fa-fw"></i> <%= translate("newTask") %></a></li>
            <li id="nav-new-member" class="hide"><a href="#members"><i class="fa fa-user-plus fa-fw"></i> <%= translate("newMember") %></a></li>
            <li id="nav-new-team" class="hide"><a href="#teams"><i class="fa fa-paw fa-fw"></i> <%= translate("newTeam") %></a></li>
            <li id="nav-new-org"><a href="#orgs"><i class="fa fa-users fa-fw"></i> <%= translate("newOrganization") %></a>
            </li>
        </ul>
    </li>
    
    <li>
        <a data-toggle="dropdown" class="dropdown-toggle">
            <span data-label-placement=""><i class="fa fa-user fa-fw"></i> <%= account %></span>
        </a>
        <ul id="account-list-ul" class="dropdown-menu">
            <li>
                <input type="radio" id="current_account_0" name="current_account" value="0"><label for="current_account_0"><i class="fa fa-user fa-fw"></i><%= account %></label>
            </li>
            <li>
                <a href="#messages" title="<%= translate("Messages") %>">
                    <i class="fa fa-envelope fa-fw"></i>
                    <%= translate("Messages") %>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#orgs"><i class="fa fa-plus fa-fw"></i> <%= translate("createOrganization") %></a>
            </li>
            <li>
                <a href="#settings"><i class="fa fa-users fa-fw"></i> <%= translate("manageOrganizations") %></a>
            </li>
            <li>
                <a href="#monitors" title="<%= translate("Monitor") %>">
                    <i class="fa fa-line-chart fa-fw"></i>
                    <%= translate("Trade Monitor") %>
                </a>
            </li>
            <li>
                <a href="#reports" title="<%= translate("Reports") %>">
                    <i class="fa fa-pie-chart fa-fw"></i>
                    <%= translate("Reports") %>
                </a>
            </li>
            <li>
                <a href="#settings" title="<%= translate("Settings") %>">
                    <i class="fa fa-cog fa-fw"></i>
                    <%= translate("Settings") %>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <input type="radio" id="current_account_admin" name="current_account" value="admin"><label for="current_account_admin"><i class="fa fa-puzzle-piece fa-fw"></i> <%= translate("systemAdmin") %></label>
            </li>
        </ul>      
    </li>
    <li>
        <a href="#logout" title="<%= translate("Exit") %>">
            <i class="fa fa-sign-out fa-fw"></i> 
            <%= translate("Exit") %>
        </a>
    </li>
</ul>