<div class="navbar-right">
    <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
          <li><a href="#binary">Binary Options</a></li>
          
          <li class="dropdown">
              <a href="#tools" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
              <ul class="dropdown-menu" style="background color: #;background: #fff;">
                <li><a href="#categorizer">Categorizer</a></li>
                <li><a href="#auto-trader">Auto-Trader</a></li>
                <li><a href="#market-risk">Market Risk Analyst</a></li>
                
              </ul>
          </li>
          <li class="dropdown">
              <a href="#memberships" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Memberships</a>
              <ul class="dropdown-menu" style="background color: #;background: #fff;">

                <li><a href="#beginner">Beginner</a></li>
                <li><a href="#intermediate">Intermediate</a></li>
                <li><a href="#expert">Expert</a></li>
                <li><a href="#elite">Elite</a></li>
                
              </ul>
          </li>

          <li>
              <a href="#signup" class="btn btn-success navbar-btn" role="button"><%= translate("Sign up") %></a>
          </li>
          <li>
              <a href="#login" class="btn btn-default navbar-btn" role="button"><%= translate("Sign in") %></a>
          </li>

    </ul>

</div>